<h2><%= @programme.title %></h2>

<ul>
  <% @programme.clients.each do |client| %>
    <li>Name: <%= client.first_name %> <%= client.last_name %>
    <br>Email: <%= client.email %>
    <br>Phone: <%= client.phone %>
    <br>Address 1: <%= client.address1 %>
    <br>Address 2: <%= client.address2 %>
    <br>City: <%= client.city %>
    <br>Post Code: <%= client.post_code %>
    <br>Country: <%= client.country %>
    </p>
  <% end %>
  </li>
</ul>
