<h2>Programme Title: <%= @programme.title %></h2>

<p><b><%= @programme.title %></b> is a programme offered by <b><%= link_to @programme.organisation.name, organisation_path(@programme.organisation) %></b>.</p>

<h4>Programme Clients</h4>
<ul>
  <% @programme.clients.each do |client| %>
  <li>Name: <%= link_to client.first_name, programme_client_path(@programme, client) %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Add a new Client", new_programme_client_path(@programme, @client) %> to <b><%= @programme.title %>.
