<div class="greeting">
  <p>Welcome, <%= current_user.email %></p>
</div>

<div class="summary">
  <p>Nova CRM manages your programmes,
   clients and their outcomes. Choose
   or create your organisation below.</p>
</div>

<h2>Organisations</h2>
  <div id="organisations-index">
  </div>

  <%= link_to "Create a New Organisation", new_organisation_path, id: "new-org-form-link" %>

  <div id="new-org-form-div">
    <%= bootstrap_form_for Organisation.new do |f| %>
      <%= f.text_field :name %><p>
      <%= f.text_field :website %><p>
      <%= f.submit %>
    <% end %>
  </div>
