<h2><%= @organisation.name %></h2>

<%= form_for ([@organisation, @programme]) do |f| %>
  <%= f.label "New Programme Title" %>
  <%= f.text_field :title %><p>
  <%= f.submit %>
<% end %>

  <% @organisation.programmes.each do |programme| %>
    <ul>
      <li><%= link_to programme.title, organisation_programme_path(@organisation, programme) %></li>
    </ul>
  <% end %>

<%= link_to "Edit Organisation", edit_organisation_path(@organisation) %>

<%= form_tag organisation_path(@organisation.id), method: "delete" do %>
  <%= submit_tag "Delete #{@organisation.name}" %>
<% end %>
