<h3><%= @organisation.name %></h3>

<h4>Current Programmes</h4>
  <% @organisation.programmes.each do |programme| %>
    <ul>
      <li><a href="#" class="programme-link" data-id="<%= programme.id %>"><%= programme.title %></a></li>
      <div class="programme-<%= programme.id %>-clients" data-id="<%= programme.id %>">
      </div>
    </ul>
  <% end %>

<p><%= link_to "Add a new Programme", new_organisation_programme_path(@organisation) %></p>
<p><%= link_to "Edit Organisation", edit_organisation_path(@organisation)%></p>

<%= form_tag organisation_path(@organisation.id), method: "delete" do %>
  <%= submit_tag "Delete #{@organisation.name}" %>
<% end %>
