<h2>Update Status</h2>

<%= bootstrap_form_for(@clients_programme) do |f| %>

  <%= f.label "Enrolled?" %>
  <%= f.radio_button(:client_status, "false") %></p>
  <%= f.radio_button(:client_status, "true") %></p>

  <%= f.text_field :programme_term %>
  <%= f.text_field :programme_year%>

  <%= f.submit %>

<% end %>
