<% if @clients_programme.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@clients_programme.errors.count, "error") %>
      prohibited this clients_programme from being saved:
    </h2>

    <ul>
    <% @clients_programme.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@clients_programme) do |f| %>
  <%= f.label "Term" %>
  <%= f.text_field :programme_term %>

  <%= f.label "Year" %>
  <%= f.text_field :programme_year%>

  <%= f.label "Enrolled?" %>
  <p>False: <%= f.radio_button(:client_status, "false") %></p>
  <p>True: <%= f.radio_button(:client_status, "true") %></p>

    <%= f.hidden_field :client_id, value: @client.id %>
    <%= f.hidden_field :programme_id, value: @programme.id %>

  <%= f.submit %>

<% end %>
