<div class="client-id" data-id="<%= @client.id %>">
  <div id="client-name">
    <h2><%= @client.full_name %></h2>
  </div>
</div>

<div id="more-button">
  <input class="btn btn-secondary" name="more" type="button" value="More Detail">
</div>
<div id="contact_details">
</div>

<% if @client.programmes == nil %>
  <p><%= link_to "Add #{@client.first_name}'s Programme Term and Year", new_clients_programme_path %></p>
<% else %>
  <% @client.clients_programmes.each do |clients_programme| %>
    <br>Programme ID: <%= link_to clients_programme.programme_id, clients_programme_path %>
    <br>Enrolled?: <%= clients_programme.client_status %>
    <br>Term: <%= clients_programme.programme_term %>
    <br>Year: <%= clients_programme.programme_year %></br>
  <% end %>

  <p><%= link_to "Edit Status", edit_clients_programme_path %></p>
<% end %>

<p><%= link_to "Add a new Outcome", new_client_outcome_path(@client) %> for <b><%= @client.full_name %></b></p>

<p><%= link_to "View Client Outcomes", client_outcomes_path(@client) %></p>
