<h2><%= @client.full_name %></h2>
    <li>Name: <%= @client.full_name %>
    <br>Email: <%= @client.email %>
    <br>Phone: <%= @client.phone %>
    <br>Address: <%= @client.full_address %>
    <br>City: <%= @client.city %>
    <br>Post Code: <%= @client.post_code %>
    <br>Country: <%= @client.country %>
  </li>
</ul>
