<h2><%= @client.full_name %></h2>
  <ul>
    <br>Name: <%= @client.full_name %>
    <br>Email: <%= @client.email %>
    <br>Phone: <%= @client.phone %>
    <br>Address: <%= @client.address1 %>
    <br>City: <%= @client.city %>
    <br>Post Code: <%= @client.post_code %>
    <br>Country: <%= @client.country %>
  </ul>
<% if @programme == nil %>
  <p><%= link_to "Add #{@client.first_name}'s Programme Term and Year", new_clients_programme_path %></p>
<% else %>
  <% @client.clients_programmes.each do |clients_programme| %>
    <p>Programme Name: <%= link_to clients_programme.programme.title %></p>
    <p>Enrolled?: <%= clients_programme.client_status %></p>
    <p>Term: <%= clients_programme.programme_term %></p>
    <p>Year: <%= clients_programme.programme_year %></p>
  <% end %>
  <p><%= link_to "Edit Status", edit_clients_programme_path %></p>
<% end %>

<p><%= link_to "Add a new Outcome", new_client_outcome_path(@client) %> for <b><%= @client.full_name %></b></p>

<p><%= link_to "View Client Outcomes", client_outcomes_path(@client) %></p>
