<div class="client-id" data-id="<%= @client.id %>">
  <div id="client-name">
    <h2><%= @client.full_name %></h2>
  </div>
</div>

<div id="more-button">
  <input class="btn btn-secondary" name="more" type="button" value="Contact Details">
</div>

<div id="contact_details">

</div>

<p><%= link_to "Add a new Outcome", new_client_outcome_path(@client) %> for <b><%= @client.full_name %></b></p>

<p><%= link_to "View Client Outcomes", client_outcomes_path(@client) %></p>
