<p>Add a new Outcome for <b><%= @client.full_name %></b>.</p>

<%= bootstrap_form_for ([@client, @outcome]) do |f| %>
  <%= f.text_field :grade %><p>
  <%= f.text_field :description %><p>
  <%= f.submit %>
<% end %>
